.Header {
    width: 532px;
    height: 72px;  
    padding-left: 35px;
    margin-bottom: 10px;
    box-sizing: border-box;

    font-family: Tahoma;
    line-height: 0px;
    font-size: 24px;
    line-height: 72px; 

    color: #fff;
    background-color: #7AD18A;
}