

.leadersContainer {
    margin: 20px 30px;
}

/* .button {
    position: relative;

    display: block;
    height: 25px;
    margin-left: auto;
    padding-right: 75px;

    font-family: Tahoma;
    line-height: 25px;
    font-size: 21px;
    text-align: right;

    color: #7AD18A;
    border: none;
    background-color: #fff;
} */

/* .button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    display: block;
    width: 36px;
    height: 34px;

    background-image: url('./components/ParticipantCard/arrow.svg');
} */