.button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

ul {
	list-style-type: none;
	margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.pagination  li {
  margin-right: 15px;
}

.button__pagination {
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: rgba(132, 122, 209, 0.3);
  transition: all .2s;
}

.button__pagination_active {
  width: 13px;
  height: 13px;

  background-color: #847AD1;
}

