.Leader-card__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 30px;

    background: #FFFFFF;
    border: 2px solid #EFEEF8;
    box-sizing: border-box;
}

.Leader-card {
    margin-bottom: 5px;
}

.Leader-name {
    font-family: Tahoma;
    line-height: 0px;
    font-size: 21px;

    color: #777D91;
}

.Leader-score {
    font-family: Tahoma;
    line-height: 0px;
    font-size: 18px;

    color: #C1C5D4;
}

/* .Leader-card__image {
    position: relative;
    width: 67px;
    height: 68px;
    background: url('./cupBackground.svg') no-repeat;
}

.Leader-card__image img {
    position: absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%);
} */