.Board__container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.Board {
    width: 532px;
    height: auto;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 2px;
}