.bg {
    &_white {
        background-color: $white;
    }
    &_gl {
        background-color: $gray-light;
    }
    &_green {
        background-color: $green;
    }
    &_violet {
        background-color: $violet;
    }
}